<div class="card post">
  <div class="card-header">
        <h2 class="links">Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel" class="form-section">
    <form id="signup-form">
      <div>
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-signup"  />
      </div>
      <div>
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-signup"  />
      </div>
    </form>
    <div class="navbar justify-content-center">
       <div class="flex-row">
      <button type="submit" id="signup-btn" class="btn">Signup!</button>
      <a class="btn" href="/login">Login</a>
      </div>
      </div>
  </div>
</div>

<script src="/js/signup.js"></script>