<a href="/dashboard" class="title2"> &larr; Back to dashboard</a>
<br>
<br>

{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea placeholder="Write a comment here..." name="comment-body"></textarea>
    </div>

    <div>
        <button class="btn" type="submit">Add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}