*{
    box-sizing: border-box;
    
}
a:hover{
    text-decoration: none !important;
}

.nav-item a{ 
    padding:0 40px;
    font-size: 20px;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

.nav-item a:hover{
    color: rgb(245, 245, 227)!important;
}

.nav-item{
    padding-top:10px;
}

.hero{
    background-color: rgb(66, 44, 44);
    padding: 1.5% 4%;
}

h2 a{
  margin: 0;
  color: rgb(245, 245, 227);
  line-height: 1.25;
}

.title{
    font-size: 3rem;
    background-color: rgb(245, 245, 227);
    padding: 0 10px;
    display: inline-block;
    border-radius: .3rem;
    box-shadow: 6px 5px rgb(199, 171, 140);
    font-family:Raleway;
}

.title2{
    font-size: 3rem;
    background-color: rgb(245, 245, 227);
    padding: 0 10px;
    display: inline-block;
    border-radius: .3rem;
    font-family:Raleway;
    color:rgb(66, 44, 44);
}

.title a:hover{
    color:rgb(66, 44, 44);
}

h1 a{
    color:rgb(66, 44, 44);
}

.col, .form-section {
    flex-grow: 1;
    background-color:rgb(245, 245, 227) ;
}

main {
    margin: 20px auto !important;
    width: 90%!important;
    background-color:rgb(245, 245, 227) ;
}

.post, .card{
    margin: 0 0 20px 0 !important;
    border: 3px solid rgb(66, 44, 44) !important;
    border-radius: .3rem !important;
}

article{
    display: block;
}

ul {
    list-style-type: none;
}

.card-header{
    color:rgb(245, 245, 227)!important ;
    background-color: rgb(66, 44, 44)!important;
    padding: 1%!important;
    justify-content: space-between!important;
    display: flex!important;
    flex-wrap: wrap!important;

}

.links{
    font-family:Raleway!important;
    color:rgb(245, 245, 227) !important;
    font-size: 22px!important;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

#posted{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.content-section p, .form-section{
    padding: 2%;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

input {
    width: 100%;
    border: 2px solid #ccc;
    background: rgb(245, 245, 227);
    margin: 0 0 5px;
    padding: 10px;
}

.btn {
    font-size: 15px!important;
    margin-right: 20px;
    display: block!important;
    color:rgb(245, 245, 227)!important;
    border: none!important;
    background-color: rgb(66, 44, 44)!important;
    box-shadow: 4px 4px rgb(199, 171, 140)!important;
    align-items: center;
}